<div *ngIf="isScreenBlocked" class="screen-block"></div>
<!--section>
    <div class="column">
        <div>
            <div class="publicacion-container" (click)="openModal()">
                <img src="https://cdn.pixabay.com/photo/2022/09/25/04/15/seagull-7477585_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>

        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2022/05/11/22/17/flowers-7190313_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2013/07/13/13/32/demon-161049_1280.png" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="column">
        
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2024/03/08/14/04/camel-8620974_1280.png" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2023/01/14/19/54/christmas-7718958_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>

        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2023/09/30/21/16/river-8286407_1280.png" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="column">
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2013/07/13/13/32/demon-161049_1280.png" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2018/09/14/11/57/lion-3676984_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>

        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2022/09/25/04/15/seagull-7477585_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="column">
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2022/06/29/15/47/mountain-7292048_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2024/03/08/14/04/camel-8620974_1280.png" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>

        <div>
            <div class="publicacion-container">
                <img src="https://cdn.pixabay.com/photo/2022/09/25/04/15/seagull-7477585_1280.jpg" alt="">
            </div>
            <div class="info-container">
                <div class="cuadrado">
                    <img src="https://cdn.pixabay.com/photo/2021/06/15/16/11/man-6339003_1280.jpg" alt="" class="foto-perfil">
                </div>
                <div class="info-usuario">
                    <p>Nombre Apellido</p>
                    <p>&#64;arroba</p>                    
                </div>
            </div>
        </div>
    </div>

</section-->


<section class="container-fluid">
    <!-- Iterar sobre las columnas agrupadas -->
   
      <div class="col" *ngFor="let columna of publicacionesAgrupadas">
        <!-- Contenedor para cada columna -->
        <div class="publicacion-column">
          <!-- Iterar sobre cada publicación dentro de la columna -->
          <div class="publicacion-container mb-4" *ngFor="let publicacion of columna">
            <img  
              class="img-fluid rounded"
              [src]="publicacion.imagen.url"
              [alt]="publicacion.fechaPublicacion">
            <div class="info-container mt-2">
              <div class="cuadrado">
                <img 
                  class="img-thumbnail rounded-circle"
                  [src]="publicacion.imagen.url"
                  [alt]="publicacion.fechaPublicacion">
              </div>
              <div class="info-usuario">
                <p>{{ publicacion.likes }} likes</p>
                <p>{{ publicacion.fechaPublicacion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>
  

<app-publicacion *ngIf="isModalOpen" (close)="closeModal()"></app-publicacion>