<nav>

  <h1>MuseLock</h1>
  <div>
    <ul>

      <li *ngIf="islogged == false"><a [routerLink]="['/login']" href="">Iniciar Sesion</a></li>
      <li *ngIf="islogged == false"><a [routerLink]="['/registrate']">Registrarse</a></li>

      <li *ngIf="islogged"><a [routerLink]="['/perfil']">Perfil</a></li>
      <li *ngIf="islogged"><a [routerLink]="['/upload']" href="">Subir Imagen</a></li>
      <li *ngIf="islogged" (click)="logout()"><a (click)="logout()">Logout</a></li>


    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

