<main>
  <div class="cargar-imagen">
      <h1>Carga tu obra</h1>
      <div class="drop-area" #dropArea (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
          <button (click)="onButtonClick()">Select a file</button>
          <span>or</span>
          <p class="msj-cargar-imagen" #dragText>Drag an drop a file here</p>
          <input type="file" id="image" class="form-control" accept="image/*" hidden #inputFile (change)="onFileChange($event)">
      </div>
      <div id="previsualizacion" #previewContainer></div>
  </div>
  <div class="info">
      <h2>Así te protegemos</h2>
      <p>
        En nuestro sitio web, protegemos tus imágenes con tecnología avanzada. Cada archivo subido genera una huella digital única mediante hashing, permitiendo rastrear y verificar su autenticidad. Además, utilizamos algoritmos de similitud visual que detectan intentos de copia o modificación y contamos con medidas que dificultan las capturas de pantalla. Con un monitoreo activo, te notificamos si alguien intenta usar tus imágenes sin autorización, para que puedas compartir tu creatividad con total confianza. 🔒✨
      </p>
      <a href="https://muselock6.wixsite.com/muselock">Conoce más...</a>
      <div id="previsualizacion">

      </div>
  </div>
</main>



<!-- <div class="container w-50 mx-auto pt-5">
    <div class="mb-5">
      <label for="image" class="form-label">Imagen</label>
      <input type="file" id="image" class="form-control" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <button class="btn btn-primary" (click)="upload()">Subir Imagen</button>
  </div> -->